# Optional param builder

name: optional-param-builder

# Controls when the workflow will run
on:
  #Shared 
  workflow_call:
    inputs:
      num-octocats:
        description: 'Number of Octocats'
        required: false
        default: '1'
      octocat-eye-color:
        description: 'Eye color of the Octocats'
        required: true

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Runs a set of commands using the runners shell
      - uses: actions/checkout@v3
      - name: Run a multi-line script
        working-directory: ./scripts
        shell: pwsh
        env:
          param1: ${{ inputs.num-octocats }}
          param2: ${{ inputs.octocat-eye-color }}
        run: |
          ./supply-chain.ps1 -param1 $env:param1 -param2 $env:param2