# Optional param builder

name: optional-param-builder

# Controls when the workflow will run
on:
  #Shared 
  workflow_dispatch:
    inputs:
      param1:
        description: 'Param1'
        required: true
      param2:
        description: 'Param2'
        required: true
      param3:
        description: 'Param3'
        required: false
      

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Validate inputs
        shell: pwsh
        run: |
          if(("${{ github.event.inputs.param3 }}".Trim().Length -gt > 0) -and ("${{ github.event.inputs.param3 }}".Trim().StartsWith("brew", "CurrentCultureIgnoreCase") -eq $False )){
            exit 1
          }

      # Runs a set of commands using the runners shell
      - uses: actions/checkout@v3
      - name: Run a multi-line script
        working-directory: ./scripts
        shell: pwsh
        run: |
          if("${{ inputs.param3 }}".Trim().Length -gt 0){
            Write-Host 'with param3'
            ./supply-chain.ps1 -param1 "${{ inputs.param1 }}" -param2 "${{ inputs.param2 }}" -param3 "${{ inputs.param3 }}"
          }
          else{
            Write-Host 'without param3'
            ./supply-chain.ps1 -param1 "${{ inputs.param1 }}" -param2 "${{ inputs.param2 }}"
          }
          