# This is a basic workflow to help you get started with Actions

name: use-workflow-example

# Controls when the workflow will run
on:
  #Shared 
  workflow_call:
    inputs:
      gh-url:
        required: true
        type: string
      gh-repo-name:
        required: true
        type: string
    secrets:
      gh-pat:
        required: true

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  call-workflow-passing-data:
    uses: vasantbala/flightdataviewer/.github/workflows/sharedwf.yml@master
    with:
      gh-url: https://api.github.com
      gh-repo-name: FlightDataViewer
    secrets:
      gh-pat: ${{ secrets.GH_API_TOKEN }}

finally:
  runs-on: [ubuntu-latest]
  steps:    
    - uses: 8398a7/action-slack@v3
    with:
      status: custom
      fields: workflow,job,commit,repo,ref,author,took
      custom_payload: |
        {
          attachments: [{
          color: '${{ job.status }}' === 'success' ? 'good' : '${{ job.status }}' === 'failure' ? 'danger' : 'warning',
          text: 'Hello',
          }]
        }
      env:
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      if: always() # Pick up events even if the job fails or is canceled.